<!--sidebar.html-->
<div class="container-fluid  sidebar-margin">
    <div class="row">
        <header class="sidebar-header" role="banner">
            <a href="{{site.baseurl}}/">
                <img src = "http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle img-responsive center-block" />
            </a>


            <h3 class="title text-center">
                <a href="{{site.baseurl}}/">{{site.title}}</a>
            </h3>

        </header>


        <hr class="hr-short"/>
        <div id = "bio" class="text-center">
            {% if site.author.bio%}
            {{site.author.bio}}
            {% endif %}
        </div>


        <hr class="hr-middle"/>
        <div id = "contact-list" class="text-center">
            <ul class="list-unstyled list-inline">
                <li>
                    {% if site.author.email %}
                    <a class="btn btn-default btn-md" href="mailto:{{site.author.email}}"><i class="fa fa-envelope fa-lg"></i></a>
                    {% endif %}
                </li>

                <li>
                    {% if site.author.github %}
                    <a class="btn btn-default btn-md" href="https://github.com/{{site.author.github}}"><i class="fa fa-github fa-lg"></i></a>
                    {% endif %}
                </li>

                <li>
                    {% if site.author.twitter %}
                    <a class="btn btn-default btn-md" href="https://github.com/{{site.author.github}}"><i class="fa fa-twitter fa-lg"></i></a>
                    {% endif %}
                </li>
        </div>


        <hr class="hr-short"/>
        <div>
            <button type="button" class="btn btn-info">Objective-C</button>
        </div>
    </div>
</div>




<!--sidebar.html end-->
